.obsidian/
.obsidian/workspace.json
.obsidian/workspace-monile.json
.obsidian/plugins/github-sync/data.json
.smtcmp_json_db
.trash/
Thumbs.db
.directory
node_modeules/
.obsidian-git-log.txt
.gitignore
*.swp
*.swo
